.inputBar-div {
}

.selectType {
    height: 2.25rem;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

.optionValue {
    font-family: inherit;
}

.inputBar-description {
    height: 2rem;
    margin-left: 1rem;
    border-radius: 1rem;
    border-width: 3px;
    padding-left: 1rem;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

.inputBar-input {
    width: 20rem;
    margin: 1rem;
    height: 2rem;
    border-radius: 1rem;
    border-width: 3px;
    padding-left: 1rem;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

.inputBar-btn {
    padding: .75rem;
    border-radius: 1rem;
    border-width: 3px;
    outline: none;
    transition: all .5s;
}

.inputBar-btn:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.705);
}

.inputBar-btn:active {
    background-color: rgb(172, 200, 236);
}

.expenseStyle {
    border-color: lightcoral;
}

.incomeStyle {
    border-color: rgb(10, 161, 43);
}